@font-face {
    font-family: '경기천년제목';
    src: url('GyeonggiTitle/GyeonggiTitleB.woff2') format('woff2'),
        url('GyeonggiTitle/GyeonggiTitleB.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '경기천년제목';
    src: url('GyeonggiTitle/GyeonggiTitleM.woff2') format('woff2'),
        url('GyeonggiTitle/GyeonggiTitleM.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '경기천년제목';
    src: url('GyeonggiTitle/GyeonggiTitleL.woff2') format('woff2'),
        url('GyeonggiTitle/GyeonggiTitleL.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '이순신체';
    src: url('Yisunshin/YisunshinRegular.woff2') format('woff2'),
        url('Yisunshin/YisunshinRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: '이순신체';
    src: url('Yisunshin/YisunshinBold.woff2') format('woff2'),
        url('Yisunshin/YisunshinBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
